---
layout: default
---

<h2> <a href="/wiki/index/">Wiki</a> / <a href="/media/index/">Media</a> </h2>

<!-- wiki -->
<div>
<h2>Wiki</h2>

{% assign documents = site.wiki | sort: 'updated' | reverse %}
{% for item in documents limit: 10 %}
  <li>
    <a href="{{ item.url }}">
      [{{ item.category }}]  {{ item.title }}  {{ item.summary }}
    </a>
  </li>
{% endfor %}
</div>

<!-- media -->
<div>
<h2>Media</h2>
{% assign documents = site.media | sort: 'updated' | reverse %}
{% for item in documents limit: 10 %}
  <li>
    <a href="{{ item.url }}">
      [{{ item.category }}]  {{ item.title }}  {{ item.summary }}
    </a>
  </li>
{% endfor %}
</div>