---
layout: default
---

<!-- wiki -->
<div>
  <h2>
    <a href="/wiki/index/" style="color: #000000">Wiki</a>
  </h2>

  {% assign documents = site.wiki | sort: 'updated' | reverse %} {% for item in documents limit: 10 %}
  <li>
    <a href="{{ item.url }}">
      [{{ item.category }}] {{ item.title }} {{ item.summary }}
    </a>
  </li>
  {% endfor %}
</div>

<!-- media -->
<div>
  <h2>
    <a href="/media/index/" style="color: #000000">Media</a>
  </h2>
  {% assign documents = site.media | sort: 'updated' | reverse %} {% for item in documents limit: 10 %}
  <li>
    <a href="{{ item.url }}">
      [{{ item.category }}] {{ item.title }} {{ item.summary }}
    </a>
  </li>
  {% endfor %}
</div>