---
layout: default
---

Welcome to jayinlab page!
<div>
<!-- wiki -->
<h2>Category</h2>

<h2>Wiki</h2>

{% assign documents = site.wiki | sort: 'updated' | reverse %}
{% for item in documents limit: 10 %}
  <li>
    <a href="{{ item.url }}">
      {{ item.update }}  {{ item.title }}
	  {% if item.summary == true %} <!-- DEBUG !!! -->
	  , {{ item.summary }}
	  {% endif % }
    </a>
  </li>
{% endfor %}
</div>

<div>
<!-- post -->
<h2>Post</h2>

{% for post in site.posts limit:5 %}  
  <li>
    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</div>